#skills{
	font-weight:bold;
	color:darkcyan;
}
h1{
	text-align:center
}
a{
	display:block;
	color:green;
	text-align:center;
	text-decoration:none;
}
#projects{
	font-weight:bold;
	color:darkblue;
}
body{
	background-color:lightgray
}